body{
    background-color: black;
}
.parent1{
    background-color: black;
    display: flex;
    justify-content: center;
}

.border{
    width: 150px;
    height: 90px;
    /* border: black solid 2px; */
    margin-left: 10px;
    margin-top: 10px;
}
.child1{
    background-color: aqua;
}
.child2{
    background-color: aquamarine;
}
.child3{
    background-color: rgb(34, 126, 126);
}
.child4{
    background-color: rgb(6, 64, 64);
}
.child5{
    background-color: rgb(103, 255, 255);
}

.parent2{
    background-color: black;
    display: flex;
    justify-content: center;

}
.parent2>:nth-child(1){
    background-color: #2E073F;
}
.parent2>:nth-child(2){
    background-color: #7A1CAC;
}
.parent2>:nth-child(3){
    background-color: #AD49E1;
}
.parent2>:nth-child(4){
    background-color: #EBD3F8;
}
.parent2>:nth-child(5){
    background-color: #6f4e81;
}
.parent2>:nth-child(6){
    background-color: purple;
}
.parent2>:nth-child(7){
    background-color: violet;
}
.parent3{
    background-color: black;
    display: flex;
    justify-content: center;

}
.parent3>:nth-child(1){
    background-color: #A02334;
}
.parent3>:nth-child(2){
    background-color: #FFAD60;
}
.parent3>:nth-child(3){
    background-color: #FFEEAD;
}
.parent3>:nth-child(4){
    background-color: #96CEB4;
}
.parent3>:nth-child(5){
    background-color: #FC4100;
}
.parent3>:nth-child(6){
    background-color: #FFC55A;
}
.parent3>:nth-child(7){
    background-color: #3c060d;
}
.parent3>:nth-child(8){
    background-color: #f76f81;
}
.parent3>:nth-child(9){
    background-color: #70444a;
}