body{
    height: 97vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 65%;
    height: 600px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    
}
.child{

    background-color: aquamarine;
    border: 1px white solid;
    text-align: center;
}